.todoSummaryBox {
    border: 5px solid cyan;
    text-align: center;
}

.box1,
.box2,
.box3 {
    border: 2px dotted green;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.boxOfSummaryBoxes {
    display: inline-flex;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    padding: 2%;
}

.box {
    padding: 10px;
}